<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">
<h:head>
</h:head>
<h:body>
	<div id="page">
		<div id="header-container">
			<div id="header">
				<ui:insert name="header">
					<ui:include src="header.xhtml" />
				</ui:insert>
			</div>
		</div>
		<br />
		<div id="content-container">
			<div id="content">
				<h3 style="text-align: center;">The Cart</h3>
				<ui:insert name="content">
					<h:form id="products">
						<p:growl id="growl" sticky="true" />
						<p:dataTable id="productList" var="product"
							value="#{cartBean.productsCart}" style=" text-align: center;">


							<p:column headerText="Product Name">
								<h:outputText id="name" value="#{product.name}" />
							</p:column>

							<p:column headerText="Price">
								<h:outputText id="price" value="#{product.price}" />
							</p:column>
						</p:dataTable>
						<br />
					</h:form>
					<br />
				</ui:insert>
			</div>
			<div style="text-align: center;">
				<h:outputLabel style="font-weight: bold; font-style: italic;"
					for="totalSum" value="Total Order Sum : " />
				<h:outputText style="font-weight: bold; font-style: italic;"
					id="totalSum" value="#{cartBean.totalSum}" />
				<br /> <br />
				<p:commandButton id="placeorder" value="Place an Order" action="#{orderBean.createOrder(1)}">
				</p:commandButton>
			</div>
		</div>
		<br /> <br />
		<div id="footer-container">
			<div id="footer">
				<ui:insert name="footer">
					<ui:include src="footer.xhtml" />
				</ui:insert>
			</div>
		</div>

	</div>
</h:body>


</html>




