<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">
<h:head>
</h:head>
<h:body>
	<div id="page">
		<div id="header-container">
			<div id="header">
				<ui:insert name="header">
					<ui:include src="header.xhtml" />
				</ui:insert>
			</div>
		</div>
		<br />
		<div id="content-container">
			<div id="content">
				<h3 style="text-align: center;">All products</h3>
				<ui:insert name="content">
					<h:form id="products">
						<p:growl id="growl" sticky="true" />
						<p:dataTable id="productList" var="product"
							value="#{productBean.products}" style=" text-align: center;">


							<p:column headerText="Product Name">
								<h:outputText id="name" value="#{product.name}" />
							</p:column>

							<p:column headerText="Price">
								<h:outputText id="price" value="#{product.price}" />
							</p:column>

							<p:column>
								<p:commandButton value="Add to cart" action="#{productBean.addToCart(product)}">

								</p:commandButton>
							</p:column>
						</p:dataTable>
						<br />
<h:button value="Go to cart"  outcome="cart.xhtml" />
					</h:form>
				</ui:insert>
			</div>

		</div>
		<br /> <br />

		<div id="footer-container">
			<div id="footer">
				<ui:insert name="footer">
					<ui:include src="footer.xhtml" />
				</ui:insert>
			</div>
		</div>

	</div>
</h:body>


</html>




