<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">


<h:head>
</h:head>
<h:body>
	<div id="page">
		<div id="header-container">
			<div id="header">
				<ui:insert name="header">
					<ui:include src="header.xhtml" />
				</ui:insert>
			</div>
		</div>
		<br />
		<div id="content-container">
			<div id="content">
				<h3 style="text-align: center;">orders</h3>
				<ui:insert name="content">
					<h:form id="orders">
						<p:dataTable id="orderList" var="order"
							value="#{orderBean.getOrders}">
							<p:column headerText="Customer">
								<h:outputText id="customer" value="#{order.customer.getName()}" />
							</p:column>
						</p:dataTable>
						<br />
					</h:form>
					<br />
				</ui:insert>
			</div>
		</div>
		<br /> <br />
		<div id="footer-container">
			<div id="footer">
				<ui:insert name="footer">
					<ui:include src="footer.xhtml" />
				</ui:insert>
			</div>
		</div>
	</div>
</h:body>


</html>




